<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{blogposts.title}}</title>
</head>

<body>

    <main class="container text-center mt-5 mb-5" >
        <div class="container mt-5">
            <div class="card text-center card w-100" style="width: 20rem;">
                <h1 class="text-center">{{blogposts.title}}</h1>
                <p class="text-center">{{blogposts.content}}</p>
            </div>
        </div>
    </main>


    <footer class="container mb-5">
        <div class="text-center">Will be hidden later</div>
        <div>
            <form action="/blogs/delete-blogpost/{{blogposts.id}}" method="POST">
                <button type="submit">Delete</button>
            </form>
        </div>
        <div>
            <form action="/blogs/update-blogpost/{{blogposts.id}}" method="GET">
                <button type="submit">Update</button>
            </form>
        </div>

    </footer>
</body>

</html>