<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{blogposts.title}}</title>
</head>

<body>
    <main>
        <div class="container jumbotron mt-5">
            <h1 class="text-center">{{blogposts.title}}</h1>
            <p class="text-center">{{blogposts.content}}</p>
        </div>
            

    </main>
    <footer class="container mb-5">
        <div class="text-center">Will be hidden later</div>
        <div>
            <form action="/blogs/delete-blogpost/{{blogposts.id}}" method="POST">
                <button type="submit">Delete</button>
            </form>
        </div>
        <div>
            <form action="/blogs/update-blogpost/{{blogposts.id}}" method="GET">
                <button type="submit">Update</button>
            </form>
        </div>

    </footer>
</body>

</html>