<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Project</title>
</head>

{{#if validationErrors.length}}
<div class="container card text-center card w-100 mt-5" style="width: 20rem;">
    <div>Can't create blogpost because:</div>
    <ul>
        {{#each validationErrors}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
</div>
{{/if}}

<body>
    <main class="containter mt-5 text-center">
        <form action="" method="POST">
            <h1>Create new project</h1>
            <strong>Title</strong>
            <div>
                <input type="text" name="title" value="{{project.title}}">
            </div>
            <strong>Content</strong>
            <div>
                <textarea name="content" name="project-content" cols="100" rows="20">{{project.content}}</textarea>
            </div>
            <strong>Description</strong>
            <div>
                <textarea name="description" name="project-description" cols="100" rows="5">{{project.description}}</textarea>
            </div>
            <strong>Link</strong>
            <div>
                <input type="text" name="link" value="{{project.link}}">
            </div>
            <input type="submit" class="mt-2 mb-5" value="Create Project">
        </form>
    </main>
</body>

</html>