
{{#if validationErrors.length}}
<div class="container card text-center card w-100 mt-5" style="width: 20rem;">
    <div>Can't create blogpost because:</div>
    <ul>
        {{#each validationErrors}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
</div>
{{/if}}

<body>
    <main class="containter mt-5 text-center mb-5">
        <form action="/guestblog/create-guestblogpost" method="POST">
            <h1>Create Guest Blogpost</h1>
            <div>
                <input type="text" name="title" placeholder="Title" style="width: 20rem;" value="{{title}}">
            </div>
            <div class="mt-1">
                <input type="text" name="name" placeholder="Name" style="width: 20rem;" value="{{name}}">
            </div>
            <div class="mt-1">
                <textarea name="content" placeholder="Content" cols="100" rows="15">{{content}}</textarea>
            </div>
            <div>
                <textarea name="description" placeholder="Description" cols="100" rows="5">{{description}}</textarea>
            </div>
            </div>
            <input type="submit" value="Create guest blogpost">
        </form>
    </main>
</body>

