<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{portfolio.title}}</title>
</head>

<body>
    <main class="conatiner jumbotron mt-5 text-center">
        <h1>{{portfolio.title}}</h1>
        <div>
            {{portfolio.content}}
        </div>
    </main>
    <footer class="container mb-5">
        <div class="text-center">Will be hidden later</div>
        <form action="/portfolio/delete-project/{{portfolio.id}}" method="POST">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
        <form action="/portfolio/update-project/{{portfolio.id}}" method="GET">
            <button type="submit" class="btn btn-info">Update</button>
        </form>
    </footer>
</body>

</html>