<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{portfolio.title}}</title>
</head>

<body>
    <main class="conatiner mt-5 mb-5 text-center">
        <div class="container mt-5">
            <div class="card text-center card w-100" style="width: 20rem;">
                <h1 class="ml-5 mr-5">{{portfolio.title}}</h1>
                <div class="ml-5 mr-5">{{portfolio.content}}</div>
            </div>

        </div>

    </main>

    {{#if isLoggedIn}}
    <footer class="container mb-5">
        <div class="text-center">Will be hidden later</div>
        <form action="/portfolio/delete-project/{{portfolio.id}}" method="POST">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
        <form action="/portfolio/update-project/{{portfolio.id}}" method="GET">
            <button type="submit" class="btn btn-info">Update</button>
        </form>
    </footer>
    {{/if}}
</body>

</html>