<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update {{guestblogpost.title}}</title>
    <link rel="stylesheet" type="text/css" href="../main.css">
</head>

<body>
    <main class="containter mt-5 text-center">
        <form action="" method="POST" action="/update-blogpost/"{{id}}>
            <h1>Update {{title}}</h1>
            <strong>Title</strong>
            <div>
                <input type="text" name="title" value="{{title}}">
            </div>
            <div class="mt-3"><strong>Content</strong> </div>
            <div>
                <textarea name="content" cols="100" rows="15">{{content}}</textarea>
            </div>
            <div class="mt-3"><strong>Description</strong></div>
            <div>
                <textarea name="description" cols="100" rows="5">{{description}}</textarea>
            </div>
            <input class="mt-2" type="submit" value="Update Blogpost">
        </form>
    </main>
</body>
</html>